/*-- HTML5 Boilerplate. -----------------------------------------------------*/

/*@import "../../vendor/bower/html5-boilerplate/css/normalize.css";
@import "../../vendor/bower/html5-boilerplate/css/main.css";*/

/*-- Application stylesheets. -----------------------------------------------*/

pre {
  font-family: monospace;
  color: #444444;
  background-color: #E4E4E4;
  padding: 1em;
}
