<div class="content">
  <div class="controls">
    <button class="edit control control-show"
            data-mode="<%- modes.EDIT %>">
      <%- tr('editable.edit') %>
    </button>

    <button class="remove control-show"><%- tr('editable.remove') %></button>


    <button class="discard control control-edit"
            data-mode="<%- modes.SHOW %>">
      <%- tr('editable.discard') %>
    </button>

    <button class="save control-edit"><%- tr('editable.save') %></button>
  </div>

  <div class="data"></div>
</div>
