<div class="content">
  <!-- Required fields -->
  <div class="debug">
    Required fields:
    <pre><%- JSON.stringify(_.pluck(procedure.requiredFields, 'name')) %></pre>
  </div>

  <div><%= requiredFieldsHtml %></div>

  <!-- Optional fields based on model's .fields property -->
  <div class="debug">
    Optional fields:
    <pre><%- JSON.stringify(_.pluck(procedure.fields, 'name')) %></pre>
  </div>

  <div><%= fieldsHtml %></div>

  <!-- Some meta -->
  <div class="debug">
    Procedure:
    <pre><%- JSON.stringify(procedure, null, 2) %></pre>
  </div>
</div>
