<div class="content">

  <div class="new-procedure">
      <div class="btn edit-template"><%-tr('procedures.edit-template')%></div>
      <div class="btn procedure-btn add-procedure"><%-tr('procedures.add-procedure')%></div>
  </div>
  <div class="list">
    <ul class="list-ul">
      <% _.each(procedures, function(procedure){ %>
        <% if (procedure.type != undefined) {%>
        <li class="list-li procedure" procedure-id=<%-procedure.id%>>
          <div class="procedure-instance">
            <%= procedure.type %>
            <div class="procedure-patient"><%= procedure.patient %></div>
            <div class="procedure-date"><%= procedure.date %></div>
          </div>
          <img class="child-icon" src="app/styles/img/child.svg">
        </li>
        <%}%>
      <% }); %>
    </ul>
  </div>

  <!-- Some meta -->
  <div>
    Model IDs:
    <pre><%= JSON.stringify(_.pluck(collection.models, 'id'), null, 2) %></pre>
    Collection itself:
    <pre><%= JSON.stringify(collection, null, 2) %></pre>
  </div>
</div>
