<div class="content">
    <div class="dtpicker-header treepicker-header">
        <span class="nav-icon-container popover-back back-button" style="display: block;"><img class="nav-icon" src="app/styles/img/back.svg"></span>
        <div class="dtpicker-title popover-title"><%= items.name %></div>
        <span class="nav-icon-container edit-button popover-edit edit-mode" style="display: block;">Editer</span>
    </div>
        <!--button class="back-button">Retour</button>
        <h1>Tree Picker View: <%= items.name %></h1-->
        <div class="list">
            <ul class="list-ul">
            <% _.each(items.subtree, function(item){ %>
                <% if (item.subtree) {%>
                    <li class="list-li item" item-id=<%-item.id%>>
                        <div class = "item-list-name">
                            <img class="delete-icon delete hidden" src="app/styles/img/delete.svg">
                            <%= item.name %>
                            <img class="child-icon" src="app/styles/img/child.svg">
                       </div>
                    </li>
                <% } else { %>
                    <li class="list-li item" item-id=<%-item.id%>>
                        <div class = "item-list-name">
                            <img class="delete-icon delete hidden" src="app/styles/img/delete.svg">
                            <%= item.name %>
                        </div>
                    </li>
                <% } %> 
            <% }); %>
            </ul>
        </div>
        <div class="btn procedure-btn add">+ Ajouter une option</div>
    </div>
</div>